@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
body{
  background: #eef0ff;
  transition: .5s !important;
  font-family: 'Poppins', sans-serif;
  color: #eef0ff;
  overflow-x: hidden;
  padding:20px;
}
#tsparticles {
  position: absolute;
  left: 0%;
  top: 0;
  z-index: -5;
  min-height: 100vh !important;
  width: 100vw;
}
