.card-overlay{
position: absolute;
left: -100%;
transition: all 1s ease;
}
.card-wrapper:hover .card-overlay{
    transition: 1s !important;
    display: flex !important;
    animation: overlay 1.5s forwards;
}
.card-wrapper:not(:hover) .card-overlay{
    transition: 1s !important;
    animation: overlay2 1s forwards;
}
@keyframes overlay {
    0%{
        left: -99%;
    }
    100%{left:0%}   
}
@keyframes overlay2 {
    0%{ left: 0%;}
    100%{left: -100%;} 
}